<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077184268826-45gr4g9rqqkdf5v33pjmod1do2ajpmh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077184268826-45gr4g9rqqkdf5v33pjmod1do2ajpmh2</string>
	<key>API_KEY</key>
	<string>AIzaSyAO65l0Nx5RD1erm5pgEmcLmF61Us8ctM8</string>
	<key>GCM_SENDER_ID</key>
	<string>1077184268826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sneath.barcoder</string>
	<key>PROJECT_ID</key>
	<string>barcoder-75628</string>
	<key>STORAGE_BUCKET</key>
	<string>barcoder-75628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077184268826:ios:c4efe04a07ad41c315dfa3</string>
</dict>
</plist>